*.bg-color-01 {
	background-color: #0466c8;
}

*.bg-color-02 {
	background-color: #023e7d;
}

*.bg-color-03 {
	background-color: #c4cbda;
}

*.bg-color-04 {
	background-color: #33415c;
}

*.bg-color-05 {
	background-color: #5c677d;
}
*.bg-color-06 {
	background-color: #aeb8fe;
}

*.text-color-01 {
	color: #0466c8;
}

*.text-color-02 {
	color: #023e7d;
}

*.text-color-03 {
	color: #001845;
}

*.text-color-04 {
	color: #33415c;
}
*.text-color-05 {
	color: #5c677d;
}
*.text-color-06 {
	color: #aeb8fe;
}